.h1 {
  color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h2 {
  color: rebeccapurple;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h3 {
  color: darkblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.body {
  margin: auto;
  max-width: 500px;
}
.pp {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ppp  {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: smaller;
}
.reflect {
  -webkit-box-reflect: above -2.3em;
}
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table th,table td{
  text-align: center;
}

table tr:nth-child(odd){
  background-color: lightsteelblue;
}
.circle {
  content: "";
  background: cornflowerblue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}
.hr1 {
  height: 1px;
  border: none;
  border-top: 1px cornflowerblue solid;
}
.hr2  {
  border-top: 3px double cornflowerblue;
}
a:hover{
  color: crimson;
}
a:visited{
  color: teal;
}
